@use '../utils/' as *;

.crab-book a {
  display: block;
  width: 251px;
  padding: rem(14px);
  margin: 0 auto;
}

.kanban {
  @include flexbox;
  padding: rem(30px);
  overflow-x: auto;
  width: 100%;

  min-height: calc(100vh - 62px - rem(14px) * 2);

  &__add-button {
    min-width: rem(400px);
    min-height: rem(150px);
    max-height: 100%;
    height: fit-content;
    border-radius: rem(10px);
    border: 2px dashed $primary07;
    font-size: rem(40px);
    color: $primary07;
    background-color: $primary00;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }

  .kanban__column {
    position: relative;
    min-width: rem(400px);
    min-height: rem(150px);
    max-height: 100%;
    height: fit-content;

    background-color: $primary00;
    position: relative;
    border-radius: rem(10px);
    padding: rem(16px) rem(24px) rem(24px);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

    &:not(:last-child) {
      margin-right: rem(30px);
    }

    &-delete {
      opacity: 0;
      top: rem(16px);
      right: rem(24px);
      font-size: rem(24px);
      color: $primary;
      background-color: transparent;
      position: absolute;
      transition: opacity 0.15s;
    }

    &:hover .kanban__column-delete {
      opacity: 1;
    }

    &-title,
    .edit {
      margin-bottom: rem(20px);
      font-size: rem(30px);
      font-weight: 400;
      color: $primary;
      user-select: none;
    }

    .edit {
      position: absolute;
      top: rem(16px);
      left: rem(24px);
      background-color: $primary01;
      border: 2 px solid $primary;
      outline: 0;
    }

    &-items {
      max-height: calc(100vh - 250px);
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  &__dropzone {
    height: rem(15px);
    transition: background 0.15s, height 0.15s;

    &.active {
      height: rem(50px);
      background: rgba(0, 0, 0, 0.25);
    }
  }

  &__add-item {
    width: 100%;
    padding: rem(10px) 0;
    font-size: rem(16px);
    color: white;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: rem(5px);
    cursor: pointer;
  }
}

// .kanban__item-input {
//   height: rem(100px);
//   padding: rem(10px) rem(15px);
//   box-sizing: border-box;
//   background: tomato;
//   border-radius: rem(5px);
//   cursor: pointer;
// }
