@use '../utils/' as *;

.crab-book a {
  display: block;
  width: rem(251px);
  margin: rem(14px) auto 0;
}

.kanban {
  @include flexbox;
  padding: rem(30px);

  &__add-column {
    top: 0;
    right: 0;
    position: absolute;
  }

  .kanban__column {
    min-width: rem(500px);
    background-color: $primary;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.8);
    border-radius: rem(10px);
    padding: rem(16px) rem(24px) rem(24px);

    &:not(:last-child) {
      margin-right: rem(30px);
    }

    &-delete {
      opacity: 0;
      top: rem(16px);
      right: rem(24px);
      font-size: rem(24px);
      color: $white;
      background-color: transparent;
      position: absolute;
      transition: opacity 0.15s;
    }

    &:hover .kanban__column-delete {
      opacity: 1;
    }

    &-title {
      margin-bottom: rem(20px);
      font-size: rem(30px);
      color: white;
      user-select: none;
    }
  }

  &__dropzone {
    height: rem(10px);
    transition: background 0.15s, height 0.15s;

    &.active {
      height: rem(20px);
      background: rgba(0, 0, 0, 0.25);
    }
  }

  &__add-item {
    width: 100%;
    padding: rem(10px) 0;
    font-size: rem(16px);
    color: white;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: rem(5px);
    cursor: pointer;
  }
}

// .kanban__item-input {
//   height: rem(100px);
//   padding: rem(10px) rem(15px);
//   box-sizing: border-box;
//   background: tomato;
//   border-radius: rem(5px);
//   cursor: pointer;
// }
