@use '../utils/' as *;

.crab-book a {
  display: block;
  width: rem(251px);
  margin: rem(14px) auto;
}

.kanban * {
  font-family: sans-serif;
}

.kanban {
  @include flexbox;
  padding: rem(30px);
}

.kanban__add-column {
  top: 0;
  right: 0;
  position: absolute;
}

.kanban__column {
  background-color: $primary;
  flex-grow: 1;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.8);
  border-radius: rem(10px);
  padding: rem(16px) rem(24px) rem(24px);
}

.kanban__column:not(:last-child) {
  margin-right: rem(30px);
}

.kanban__column .kanban__column-delete {
  opacity: 0;
  top: rem(16px);
  right: rem(24px);
  font-size: rem(24px);
  color: $white;
  background-color: transparent;
  position: absolute;
  transition: opacity 0.15s;
}

.kanban__column:hover .kanban__column-delete {
  opacity: 1;
}

.kanban__column-title {
  margin-bottom: rem(20px);
  font-size: rem(30px);
  color: white;
  user-select: none;
}

.kanban__item-input {
  height: rem(100px);
  padding: rem(10px) rem(15px);
  box-sizing: border-box;
  background: tomato;
  border-radius: rem(5px);
  cursor: pointer;
}

.kanban__dropzone {
  height: rem(10px);
  transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
  height: rem(20px);
  background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
  width: 100%;
  padding: rem(10px) 0;
  font-size: rem(16px);
  color: white;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: rem(5px);
  cursor: pointer;
}
