@use '../utils/' as *;

button {
  background: transparent;
}

.statistics {
  min-width: 600px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  padding-left: rem(80);
}
.statistics-container {
  width: 100%;

  .profil {
    position: relative;
    justify-self: center;
    margin-bottom: rem(30);
    // margin: 0 auto;
    &__chart {
      width: 90%;
    }
    &__img {
      position: absolute;
      width: 40%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .records {
    background-color: $primary00;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: rem(8);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5vw;

    &__label {
      font-size: rem(20);
      font-weight: 700;
      border: 3px solid $primary05;
      border-radius: rem(8);
      text-align: center;
      margin: rem(12);

      &--title {
        padding: 5%;
        background-color: $primary05;
      }
      &--scrap,
      &--read {
        padding: 5%;
        font-size: rem(20);
        font-weight: 700;
      }
    }
  }

  .head-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(10);
  }

  .jandi {
    margin-bottom: rem(30);
    color: $silver;

    &__time-icons {
      display: flex;
      align-items: center;
      &--text {
        margin: 0 3px;
      }
    }
    &__chart {
      width: 100%;
    }
  }
  .read-head {
    justify-content: end;
  }
  .read {
    color: $silver;
    margin-bottom: rem(30);
    &__time-icons {
      display: flex;
      align-items: center;
      &--text {
        margin: 0 3px;
      }
    }
    &__chart {
      width: 100%;
    }
  }

  .icons {
    display: flex;
    flex-direction: row-reverse;
    color: $gray;
    font-size: 0.8rem;
    &__icon {
      border-radius: 4px;
      border: 1px solid gray;
      margin-left: 10px;
      padding: rem(3);
    }
  }

  .icons__icon.active {
    background: $silver;
    color: $white;
    border: none;
  }

  .links {
    background-color: $primary00;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: rem(8);
    padding: 5%;
    overflow: auto;
  }

  .links .linkcard {
    &__content {
      &__memo,
      &__tag__container {
        display: none;
      }
    }
  }
  .links .toggle-card {
    display: none;
  }

  @include desktop {
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5%;
    grid-template-areas:
      'profil links'
      'records links'
      'read  links'
      'jandi jandi';
    .profil {
      &__chart {
        grid-area: profil;
      }
      width: 60%;
      justify-self: center;
    }
    .records {
      grid-area: records;
      &__label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: rem(24);
        padding-right: 5%;
        &--scrap,
        &--read {
          padding: 2%;
        }
      }
    }
    .links {
      grid-area: links;
      min-width: 350px;
    }
    .read {
      grid-area: read;
    }
    .jandi {
      grid-area: jandi;
      margin-bottom: rem(10);
    }
    .profil,
    .links,
    .read,
    .jandi {
      margin: 0;
    }
  }
  @media only screen and (min-width: 1520px) {
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    gap: 5%;
    grid-template-areas:
      'profil records links links'
      'read read links links'
      'jandi jandi jandi jandi';
    .profil {
      &__chart {
        grid-area: profil;
      }
      width: 80%;
      justify-self: center;
    }
    .records {
      grid-area: records;
      &__label {
        display: block;
        padding-right: 0;
        font-size: rem(24);
        &--scrap,
        &--read {
          padding: 5%;
        }
      }
    }
    .links {
      grid-area: links;
    }
    .read {
      grid-area: read;
    }
    .jandi {
      grid-area: jandi;
      margin-bottom: rem(10);
    }
    .profil,
    .links,
    .read,
    .jandi {
      margin: 0;
    }
  }
}
