@use '../utils/' as *;

main {
}
button {
  background: transparent;
}

.statistics {
  width: calc(100% - rem(80));
  height: auto;
  padding-left: rem(80);
}
.statistics-container {
  width: 100%;

  // mobile first 임시
  // TODO: 브레이크 포인트 얘기 : min-width?
  // max-width: 414px;

  .profil {
    position: relative;
    width: 100%;
    margin-bottom: rem(30);
    // margin: 0 auto;
    &__chart {
      width: 100%;
    }
    &__img {
      position: absolute;
      width: 40%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__text {
      font-size: 5vw;
      font-weight: 700;
      background-color: $primary00;
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
      border-radius: rem(8);
      padding: 5%;
    }
  }

  .head-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(10);
  }

  .jandi {
    margin-bottom: rem(30);
    color: $silver;

    &__time-icons {
      display: flex;
      align-items: center;
      &--text {
        margin: 0 3px;
      }
    }
    &__chart {
      width: 100%;
    }
  }
  .read-head {
    justify-content: end;
  }
  .read {
    color: $silver;
    margin-bottom: rem(30);
    &__time-icons {
      display: flex;
      align-items: center;
      &--text {
        margin: 0 3px;
      }
    }
    &__chart {
      width: 100%;
    }
  }

  .icons {
    display: flex;
    flex-direction: row-reverse;
    color: $gray;
    font-size: 0.8rem;
    &__icon {
      border-radius: 4px;
      border: 1px solid gray;
      margin-left: 10px;
      padding: rem(3);
    }
  }

  .icons__icon.active {
    background: $silver;
    color: $white;
    border: none;
  }

  .links {
    background-color: $primary00;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: rem(8);
    padding: 5%;
    &__ul {
    }
    &__item {
      position: relative;
      border: 1px solid $silver;
      border-radius: 10px;
      padding: rem(12);
      margin: rem(12) 0;
      &--date {
        position: absolute;
        top: rem(12);
        right: rem(12);
        color: $silver;
      }
      &--title {
        font-size: 1.4rem;
        font-weight: 500;
        padding-bottom: rem(10);
      }
      &--description {
      }
    }
    &__item:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .links .linkcard {
    &__content {
      &__memo,
      &__tag__container {
        display: none;
      }
    }
  }
  .links .toggle-card {
    display: none;
  }

  // canvas {
  //   height: 100%;
  //   width: 100%;
  // }
  @include desktop {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5%;
    grid-template-areas:
      'profil profilText profilText links links'
      'read read read links links'
      'jandi jandi jandi jandi jandi';
    .profil {
      &__chart {
        grid-area: profil;
      }
      &__text {
        grid-area: profilText;
        font-size: rem(40);
      }
      width: 300px;
      justify-self: center;
    }
    .links {
      grid-area: links;
    }
    .read {
      grid-area: read;
    }
    .jandi {
      grid-area: jandi;
      margin-bottom: rem(10);
    }
    .profil,
    .links,
    .read,
    .jandi {
      margin: 0;
    }
  }
}
