//  기본 색상 --------------------------------------------------------- /
$vividRed: #C63431;
$white: #ffffff;
$black: #101010;
$darkbrown: #38302e;
$brown: #988574;
$lightbrown: #c7b39a;
$green: #abd375;
$yellow: #e8ca58;
$orange: #eea60a;
$blue: #6aaee6;
$gray: #767676;
$silver: #999;

$primary: $vividRed;