//  기본 색상 --------------------------------------------------------- /
$vividRed: #c63431;
$white: #ffffff;
$black: #101010;
$darkbrown: #38302e;
$brown: #988574;
$lightbrown: #c7b39a;
$green: #abd375;
$yellow: #e8ca58;
$orange: #eea60a;
$blue: #6aaee6;
$gray: #767676;
$silver: #999;

$primary: $vividRed;

$primary00: #fff7f7;
$primary01: #f9eaea;
$primary02: #f3d6d5;
$primary03: #edc2c1;
$primary04: #e8adac;
$primary05: #e29998;
$primary06: #dc8583;
$primary07: #d7706e;
$primary08: #d15c5a;
$primary09: #cb4845;
$primary10: #c63431;
$primary11: #b22e2c;
$primary12: #9e2927;
$primary13: #8a2422;
$primary14: #761f1d;
$primary15: #631a18;
$primary16: #4f1413;
$primary17: #3b0f0e;
$primary18: #270a09;
$primary19: #130504;
